body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.logo {
	margin: 0;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}

.page-title {
	align-self: flex-end;
	margin: 0;
	padding-right: 1rem;
}

.section-title {
	background-color: #333;
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
	padding: 1rem;
}

.profile-info {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.profile-image {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.user-info {
	margin-left: 2rem;
}

.user-name {
	margin: 0;
}

.user-profession {
	font-weight: lighter;
	font-size: 0.9rem;
	margin: 0.5rem 0;
}

.user-status {
	margin: 0;
}

.status-button {
	background-color: #333;
	border: none;
	color: #fff;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.status-button:hover {
	opacity: 1;
}

.status-button.active {
	opacity: 1;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
}

.star {
	font-size: 2rem;
	color: #ccc;
	cursor: pointer;
	transition: color 0.3s ease;
}

.star:hover {
	color: #ffcc00;
}

.star[data-rating="1"]:hover ~ .star[data-rating="2"],
.star[data-rating="1"]:hover ~ .star[data-rating="2"]:hover,
.star[data-rating="1"]:hover ~ .star[data-rating="3"],
.star[data-rating="1"]:hover ~ .star[data-rating="3"]:hover,
.star[data-rating="1"]:hover ~ .star[data-rating="4"],
.star[data-rating="1"]:hover ~ .star[data-rating="4"]:hover,
.star[data-rating="1"]:hover ~ .star[data-rating="5"],
.star[data-rating="1"]:hover ~ .star[data-rating="5"]:hover {
	color: #ffcc00;
}

.star[data-rating="2"]:hover ~ .star[data-rating="3"],
.star[data-rating="2"]:hover ~ .star[data-rating="3"]:hover,
.star[data-rating="2"]:hover ~ .star[data-rating="4"],
.star[data-rating="2"]:hover ~ .star[data-rating="4"]:hover,
.star[data-rating="2"]:hover ~ .star[data-rating="5"],
.star[data-rating="2"]:hover ~ .star[data-rating="5"]:hover {
	color: #ffcc00;
}

.star[data-rating="3"]:hover ~ .star[data-rating="4"],
.star[data-rating="3"]:hover ~ .star[data-rating="4"]:hover,
.star[data-rating="3"]:hover ~ .star[data-rating="5"],
.star[data-rating="3"]:hover ~ .star[data-rating="5"]:hover {
	color: #ffcc00;
}

.star[data-rating="4"]:hover ~ .star[data-rating="5"],
.star[data-rating="4"]:hover ~ .star[data-rating="5"]:hover {
	color: #ffcc00;
}

.star[data-rating="5"]:hover {
	color: #ffcc00;
}

.contact-info {
	margin: 1rem 0;
}

.logout-button {
	background-color: #333;
	border: none;
	color: #fff;
	padding: 0.5rem 1rem;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.logout-button:hover {
	opacity: 0.8;
}
.current-rating
{
    text-align: center;
}
.user-status{
    
}
.available
{
	background-color: green;
}
.at-work{
	background-color: red;
}